.grid-main { grid-area: main;}
.grid-promocional { grid-area: promocional; width: 350px;}
.grid-totales {     grid-area: totales;     width: 350px; }
.grid-pagar {       grid-area: pagar;       width: 350px; }
.grid-codigo {      grid-area: codigo; }

.grid-container {
  
  display: grid;
  grid-template-areas:
    'main   main    main    main    main    promocional'
    'main   main    main    main    main   totales'
    'codigo codigo  codigo  codigo  codigo  pagar';
  grid-gap: 10px;
  margin: 1px 10px;

}
.grid-container-ajustes{    
    max-width: 1200px;
    display: grid;
    grid-gap: 5px 2em;
    grid-template-areas:
    'div_datosEmpresa div_Personalizacion'
    'div_datosEmpresa div_Personalizacion'
}

.grid-container-domicilio{
    display: grid;
    grid-gap: 5px 5px ;
    grid-template-areas:
    'lblDomicilio lblDomicilio'
    'pais estado'
    'ciudad cp'
    'txtdomicilio txtdomicilio';
    
}
.grid-content-logo{
    display: grid;
    grid-gap: 5px 5px ;
    grid-template-areas:
    'imgLogo imgLogo'
    'btnSubir btnEliminar';
}


.grid-container-publicidad{
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: 1px 10px;
}
.grid-container > div {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 20px 0;
}




#totalAcumulado { grid-area: totalAcumulado; }
#datosVenta { grid-area: datosVenta; }
#datosCliente { grid-area: datosCliente; }


.grid-container-totales {
    display: grid;
    grid-template-areas:
      'totalAcumulado'
      'datosVenta'
      'datosCliente';
    grid-gap: 10px;
    margin: 1px 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-areas:
    'main        main        main        main        main        main'
    'totales     totales     totales     totales     totales     totales'
    'codigo      codigo      codigo      codigo      codigo      pagar';
     grid-gap: 2px;
     padding: 2px;
    }
    .grid-container-totales {
        display: grid;
        grid-template-areas:
          'totalAcumulado  datosVenta'
          'datosCliente  datosVenta';
        
        margin: 1px 10px;
    }
    .grid-totales{
        width: 100%;
    }
    .table-container{
        max-height: 200px;
        font-size: smaller;}

    .grid-promocional{
        display: none;
    }
    
    #div_datosEmpresa{
        width: 95%;
    }
    #div_Personalizacion{
        width: 95%;        
    }
    .grid-container-ajustes{
        
        grid-template-areas:
        'div_datosEmpresa '
        'div_Personalizacion'
    }
    .grid-container-domicilio{
    
        grid-template-areas:
        'lblDomicilio'
        'pais' 
        'estado'
        'ciudad'
        'cp'
        'txtdomicilio';
    }
    .grid-content-logo{

        grid-template-areas:
        'imgLogo'
        'btnSubir'
        'btnEliminar'    
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-areas:
        'main        main        main        main        main        main'
        'totales     totales     totales     totales     totales     totales'
        'codigo      codigo      codigo      codigo      codigo      pagar';
          grid-gap: 2px;
        padding: 2px;
      }
      .grid-container-totales {
        display: grid;
        grid-template-areas:
          'totalAcumulado  datosVenta'
          'datosCliente  datosVenta';
        
        margin: 1px 10px;
    }
    .grid-totales{
        width: 100%;
    }

      .table-container{
        max-height: 200px;
        font-size: smaller;
        
	}	
    .grid-promocional{
        display: none;
    }
    .grid-container-publicidad{
        grid-template-columns: auto ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-areas:
        'main   main    main    main    main    promocional'
        'main   main    main    main    main   totales'
        'codigo codigo  codigo  codigo  codigo  pagar';
    }
    .table-container{
        max-height: unset;
        font-size: smaller;
    }	
    .grid-container-totales {
        display: grid;
        grid-template-areas:
          'totalAcumulado'
          'datosVenta'
          'datosCliente';
        grid-gap: 10px;
        margin: 1px 10px;
    }
    .grid-promocional{
        display: unset;
    }
    .grid-container-publicidad{
        grid-template-columns: auto auto ;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .table-container{
		max-height: 200px;
    }	
    .grid-container-publicidad{
        grid-template-columns: auto auto auto;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-areas:
        'main   main    main    main    main    promocional'
        'main   main    main    main    main   totales'
        'codigo codigo  codigo  codigo  codigo  pagar';
    }
    .table-container{
        max-height: unset;
        font-size: smaller;
	}	
    .grid-promocional{
        display: unset;
    }
    .grid-container-publicidad{
        grid-template-columns: auto auto auto;
    }
}


#div_datosEmpresa input{ 
    margin-bottom: 5px;
}

#div_datosEmpresa p{ 
    margin: 7px 0;
}