:root{
	--size-nav: 200px;
	--size-prevUser: 340px;
	--color-header:#34495E;
	--color-prevUser:#34495E;
}
/* Para usarla debes pasarla como parametro a la funcion var() sin comillas ni nada
	nav{
		width: var(--size-nav);
	}
*/


body{
	font-family: 'Open sans';
}


.buscador{
    width: 90%;
}

crumb{
    display: grid;
    text-align: right;
	
	margin-right: 1em;
}

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	background: var(--color-header);
}

header #button-menu{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.navegacion{
	position: absolute;
	top: 100%;
	left: 0;	
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,.0);
	z-index: 5000;
}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;
	position: absolute;
	top: 0;
	left: -320px;

	transition: left .3s;
}

.navegacion .menu li.title-menu{
	padding: 20px;
	background: #5F6F81;
	color: #fff;
	text-align: center;
	font-size: 22px;
}

.navegacion .menu a{
	display: block;
	padding: 10px;
	border-bottom: 1px solid #C6D0DA;

	font-size: 20px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
}

.navegacion .menu a:hover{
	background: #798DA3;
	color: #fff;
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
  	/*font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';

	float: right;
	color: #C5C5C5;*/
}

/* Submenu ============*/

.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
}

.navegacion .submenu li.go-back{
	padding: 10px 20px;
	background: #5F6F81;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.navegacion .submenu li.go-back::before{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f0d9';
	margin-right: 10px;
}

@media screen and (max-width: 320px){
	.navegacion ul{
		width: 100%;
	}
}


.iconRigh{
	right: 1em; 
	position: absolute;

}
header{
	z-index: 4500;
}
.prevUser{
	display: grid;
	/*top: 104%;*/
	box-shadow: 1px 0px 10px 1px;
	position: absolute;
	width: var(--size-prevUser);
	background:  var(--color-prevUser);
	z-index: 3000;
	border-radius: 25px 25px 25px 25px;
	top: -20em;	
	right: calc(1em/4);
	transition: top .2s;
}


.prevUserMostrar{
	/*right: calc(1em/4);*/
	top:54px;
	transition: top .2s;
	
	/*left: calc(100% - var(--size-prevUser));*/
}


.prevUser ul {
	list-style: none;
	background: var(--color-prevUser);
	margin-left: 1ex;
	/*width: 100%;*/
	margin-top: 5px;
}
.prevUser div{
	display:-webkit-inline-box;
	padding-top: 1ex;	
}
.prevUser p{
	margin: 0;
	color: rgba(255,255,255);
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word; 
 
-webkit-hyphens: auto;
  -moz-hyphens: auto;
   -ms-hyphens: auto;
	   hyphens: auto;
	   
}

.prevUser li {
	margin-bottom: 8px;
}
#frm_prevUser img {
	cursor: pointer;	
	border-radius: 50%;	
	box-shadow: green 12px solid;
	margin-left: 1ex;	
}

.photo-prev{
	position: absolute;
	right: 1em;	
	width: 35px;
	height: 35px;
}

#photo-prev2{
	margin:1ex;
	border-radius: 50%;	
	width: 90px;
	line-height: 90px;
	cursor: pointer;
}

#photo-EditUsr{
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 1em;
	border-radius: 50%;	
	width: 120px;
	line-height: 90px;
	border: gainsboro 1px solid;
}
img{
	background: rgba(255,255,255,1);
	font-size: smaller;
	display: block;
	
	
}
.ulHorizontal {
	width: 320px;	
}

.ulHorizontal li{
		float: left;
		padding-left: 1.5em;
}
.ulHorizontal input{
	width:  130px;
	font-size: 14px;
	background: rgba(255,255,255,.9);
}

.line{
	border-top: 1px solid black; margin:0; padding: 0;
}

header .companyName{
	color: white;
	display: block;
	margin-left: 10px;
	font-size: 22px;
	
}

@media (max-width: 576px) {
	.modal-dialog{
	}
}

.modal-dialog{
	top: 55px;
}

.inputFileLogo{
display: none;
}



.table-container { 
	overflow-x: auto; 
}

.table-rwd { min-width: 900px; }


@media only screen and (max-width: 600px) {
	.table-container{
		font-size: smaller;
	}	
}

.mayusculas{
	text-transform: uppercase;
}

